.my-footer {
  background-attachment: fixed;
  background-image: blue url(https://github.com/anedu/anedu.github.io/blob/master/background.png);
  background-image: blue url(https://github.com/anedu/anedu.github.io/blob/master/background.png);
  background-image: blue url(https://github.com/anedu/anedu.github.io/blob/master/background.png);
  background-image: blue url(https://github.com/anedu/anedu.github.io/blob/master/background.png);

  text-align: center;
  font-size: 20px;
  height: 400px;
}

nav {
  background-attachment: fixed;
  background-image: blue url(https://github.com/anedu/anedu.github.io/blob/master/background.png);
  background-image: blue url(https://github.com/anedu/anedu.github.io/blob/master/background.png);
  background-image: blue url(https://github.com/anedu/anedu.github.io/blob/master/background.png);
  background-image: blue url(https://github.com/anedu/anedu.github.io/blob/master/background.png);
  height: 100px;
}

table {
  background-color: rgb(30, 38, 12);
  border: 3px solid rgb(191, 187, 128);
  border-collapse: collapse;
  color: rgb(191, 187, 128);
}


tr {
  font-weight: bold;
}

h5 {
  color: rgb(105, 105, 105);
  font-weight: bold;
}

@media print {
  
  nav,
  footer {
    display: none;
  }
  
  body {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;

    position: static;
  }
